body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.user-info,
.orders {
    margin-bottom: 30px;
}

.user-info h3,
.orders h3 {
    color: #555;
}

.user-info p {
    margin: 5px 0;
}

.orders ul {
    list-style: none;
    padding: 0;
}

.orders li {
    margin-bottom: 5px;
}

.orders li:before {
    content: "•";
    margin-right: 5px;
    color: #28a745; /* Цвет маркера списка */
}
