body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #f0f0f0; /* Светло-серый цвет фона */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px; /* Ширина контейнера */
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto; /* Центрирование контейнера */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.field {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); /* Ширина полей ввода с учетом отступов */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.actions {
    text-align: center;
    margin-top: 30px;
}

input[type="submit"] {
    padding: 12px 24px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

em {
    color: #777;
}
